<div class="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title"><img class="logo" src="/{{ 'assets/images/cthulhu-logo-hero.png' }}" alt="Logo of the Cthulhu project"/></h1>
      <h2 class="subtitle">{{ site.package.description }}</h2>
      <div class="github-buttons">
        <a class="github-button" href="{{ site.package.repository.url }}" data-icon="octicon-star" data-size="large" data-show-count="true" aria-label="Star {{ site.package.name }} on GitHub">Star</a>
        <a class="github-button" href="{{ site.package.repository.url }}/fork" data-icon="octicon-repo-forked" data-size="large" aria-label="Fork {{ site.package.name }} on GitHub">Fork</a>
        <script async defer src="https://buttons.github.io/buttons.js"></script>
      </div>
    </div>
  </div>
</div>